*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  position: absolute; /* элемент вырывают из потока */
  width: 1px; /* делают элемент очень маленьким, но таким, чтобы не пропал совсем */
  height: 1px;
  margin: -1px; /* элемент убирают из поля зрения, сдвинув на размер самого себя */
  padding: 0; /* обнуляют отступы, они есть у некоторых элементов по умолчанию */
  border: 0; /* убирают границу, она тоже может быть у каких-то элементов */
  clip: rect(0 0 0 0); /* это свойство обрезает видимую область до нулевого значения */
  overflow: hidden; /* на всякий случай скрывают видимое за пределами блока */
}

.content {
  max-width: 1140px;
  max-height: 534px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "result details";
  column-gap: 30px;
  justify-content: center;
  align-content: end;
}

.result {
  grid-area: result;
  align-self: end;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
}
.result__video {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.search-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  grid-area: details;
  max-height: 534px;
}

.content__list-container {
  overflow: auto;
  position: relative;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  /*padding-left: 3px;
  padding-right: 3px;пока не вижу смысла в этом свойстве*/
  cursor: pointer;
}

.content__list-item:last-child {
  padding-bottom: 30px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__card-link_current { /*а чё, а где делся фон?*/
  background-color: #545050;
}

.content__list-item:active {
    background-color: #545050;
}

.content__list-item:hover { /*почему-то нет подчёркивания у заголовка в Chrome, в Firefox есть*/
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.content__list-item:focus {
  outline: none;
}

.content__list-item:focus-visible {
  outline: 1px solid #FFF;
}

.content__video-card-description-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.content__video-card-thumbnail {
  flex: 0 0 50%;
  object-fit: cover;
  object-position: center;
}

.search-form__fieldset {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.search-form__fieldset-title {
  color: #FFF;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title {
  color: #FFF;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #FFF;
}

.content__video-card-title {
  color: #FFF;
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; /* Многоточие */
}

.content__video-card-description {
  color: #FFF;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; /* 90% */
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
}

.search-form__textfield {
  background-color: transparent;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  border-left: none;
  border-right: none;
  width: 225px;
  height: 27px;
  color: rgba(255, 255, 255, 0.70);
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  appearance: none;
}



.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.search-form__textfield:focus {
  outline: 0;
  border: 0;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: white;
}
 /*
 Факультативный шаг.
 Когда чекбокс в фокусе — добавьте границу вокруг с использованием outline .
 Если вы применяли псевдокласс :has() для текстового инпута, здесь тоже будет работать это правило.
 Вам не придётся прописывать отдельно состояние :focus и :focus-visible для чекбокса.
 Но если вы пошли другим путём, подумайте, как добиться того,
 чтобы состояние :focus не создавало обводку у родительского элемента, а состояние :focus-visible создавало
 */

 .search-form__label:has(.search-form__checkbox):hover {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.button {
  display: flex;
  height: 34px;
  justify-content: center;
  align-items: center;
  border: 1px solid #FFF;
  background-color: transparent;
  color: #FFF;
  text-align: center;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.button:focus {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.button:hover {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;

}

.button:active {
  background: #545050;
}

.search-form__submit-button {
  width: 194px;
}

.more-button {
  width: 100%;
}
